@import '~@nti/style-common';

.lti-base-tool-editing {
	width: 700px;
	background: white;

	.config-type-label .label {
		padding-left: 20px;
	}

	.nti-select-native-wrapper {
		margin: 0px 20px;
		height: 2rem;
		line-height: 2rem;
	}

	.dialog-buttons {
		background: white;
	}

	.lti-base-tool-error {
		color: $primary-red;
		display: block;
    	padding: 0px 0px 10px 20px;
	}

	.mask-loader {
		z-index: 1;
	}
}
