@import "~@nti/style-common";

.course-admin-panel {
    background-color: #FFFFFF;
    padding: 25px 30px;
	margin-top: 5px;

	.admin-panel-header {
		margin: 0;
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 600;
		line-height: 33px;
		color: var(--primary-grey);
	}
}
