
.admin-roster-icon {
	.roster-total-learners {
		color: #3FB3F6;
		font-size: 28px;
		text-align: center;
	}
	
	.roster-header {
		color: #B8B8B8;
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
		text-align: center;
	}
}