.admin-roster-icon {
	.roster-total-learners {
		color: var(--primary-blue);
		font-size: 28px;
		text-align: center;
	}

	.roster-header {
		color: var(--tertiary-grey);
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
		text-align: center;
	}
}
