@import '~@nti/style-common';

.course-admin-advanced-tabs {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		box-shadow: 0 -1px 0 0 $border-grey-light;

		a {
			display: block;
			padding: 0.5rem 1rem;
			text-decoration: none;
			color: $secondary-grey;

			&:not(.active):hover {
				background: $panel-background;
			}

			&.active {
				background: $primary-blue;
				color: white;
			}
		}
	}
}
