@import '~@nti/style-common';

.course-settings-menu {
	.header {
		background-color: white;
		border-bottom: solid 1px #eaeaea;
		padding: 15px;
		display: flex;

		.registered-icon {
			background-image: url(../assets/circle-check.svg);
			width: 30px;
			min-width: 30px;
			height: 29px;
			margin: 4px 10px 0 0;
		}

		.course-name {
			color: #888;
			font-size: 12px;
			max-width: 240px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.course-status {
			font-size: 18px;
		}
	}

	.option {
		font-size: 14px;
		padding: 15px;
		cursor: pointer;
		border-bottom: solid 1px #eaeaea;
		background-color: #f7f7f7;

		&.delete-course {
			color: red;

			i {
				margin-right: 10px;
			}
		}
	}

	.support {
		display: block;
		cursor: pointer;
		color: var(--primary-blue);
		font-size: 0.8em;
		text-decoration: none;
	}
}
