@import '~@nti/style-common';

@mixin bar {
	border-radius: 100px;
	background-color: $border-grey-light;
}

@mixin value {
	border-radius: 100px;
	background-color: $primary-green;
}

.nti-course-enrollment-list-item {
	padding: rem-calc(20px);
	display: flex;
	flex-direction: row;
	height: rem-calc(143px);

	.course-enrollment-icon {
		width: rem-calc(140px);
		flex: 0 0 auto;
	}

	.course-enrollment-meta {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: rem-calc(0 20px);

		.label {
			font: normal 600 0.625rem/2 $body-font-family;
			color: var(--tertiary-grey);
			text-transform: uppercase;
			flex: 0 0 auto;
		}

		.title {
			font: normal 600 1rem/1.2 $header-font-family;
			color: var(--primary-grey);
			text-transform: uppercase;
			flex: 1 1 auto;
			max-width: 450px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.progress-container {
			flex: 0 0 auto;
		}
	}

	.course-enrollment-controls {
		flex: 0 0 auto;

		.nti-course-enrollment-admin-prompt-trigger {
			width: 40px;
			height: 40px;
			color: var(--primary-blue);
		}
	}

	.progress-container {
		.completed {
			.date {
				display: inline-block;
				vertical-align: middle;
				font: normal 600 0.625rem/2 $body-font-family;
				color: $primary-green;
				text-transform: uppercase;
			}

			i {
				display: inline-block;
				vertical-align: middle;
				color: white;
				background-color: $primary-green;
				margin-right: 0.5rem;
				padding: 0.1875rem;
				border-radius: 24px;
			}
		}

		progress {
			appearance: none;
			border: none;
			height: 5px;
			@include bar();

			&::-webkit-progress-bar {
				@include bar();
			}

			&::-webkit-progress-value {
				@include value();
			}

			&::-moz-progress-bar {
				@include value();
			}
		}
	}
}
