.course-info-support {
	border-top: solid 1px #eaeaea;
	padding: 1.125em 2.188em;
	text-align: left;
	background-color: white;

	.techsupport-header {
		font-size: 1em;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0.625em;
	}

	.techsupport-info {
		display: flex;

		.techsupport-image {
			width: 100px;
			height: 100px;
			background-image: url('./assets/tech_support.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		.techsupport-links {
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-left: 1.25em;

			.techsupport-link a {
				text-decoration: none;
				color: #3fb3f6;
				font-size: 0.875em;
			}
		}
	}
}

//TODO: work this mobile styling back in.

/* mobile styles:

.course-support {
	box-shadow: 0 -1px 0 #f1f1f1;
	padding-top: 1.5rem;
	position: relative;
	overflow: hidden;

	img {
		background-image: url(./assets/tech_support.jpg);
		float: left;
		width: 25%;
		background-size: cover;
	}

	.meta {
		padding: 0 0.5rem 0.375rem;
		margin-top: -0.3rem;
		margin-left: 25%;

		.item {
			margin: 0.5rem 0;
			font-size: 1rem;
		}

		.link a:not(:link) {
			color: $primary-grey;
		}
	}
}
 */
