.container {
	min-height: 200px;
	position: relative;

	/* Center Text */
	display: flex;
	align-items: center;
	justify-content: center;
}

.missing-text {
	min-height: auto;
	color: var(--primary-red);
}
