@import '~@nti/style-common';

.nti-course-enrollment-gifting-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: 0 1px 0 0 $border-grey-light;
	cursor: pointer;

	.meta {
		flex: 1 1 auto;

		.title {
			font: normal 400 1rem/1.3 $body-font-family;
			color: $primary-blue;
		}

		.label {
			font: normal 600 0.625rem/1.3 $body-font-family;
			text-transform: uppercase;
			color: $tertiary-grey;
		}
	}

	i.icon-chevron-right {
		flex: 0 0 auto;
		line-height: 60px;
		color: $secondary-grey;
	}
}
