@import '~nti-style-common';

.assignment-inline-editor .inline-due-date-editor {
	margin-bottom: 1.5rem;

	.label {
		font-size: 0.875em;
		line-height: 14px;
		color: #494949;
		margin: 0.5em 0 0;

		.nti-checkbox-input {
			display: inline-block;
			vertical-align: middle;
			margin-right: 11px;
			position: relative;


			span.label {
				font-size: 14px;
				font-weight: 600;
			}

			.date-editor {
				margin-top: 10px;
			}
		}
	}
}
