@import '~nti-style-common';

.assignment-inline-editor .assignment-due-date-editor .footer {
	overflow: hidden;
	border-top: none;
	background: none;

	.save {
		background-color: #3fb3f6;
		color: white;
		border-radius: 3px;
	}

	.cancel {
		float: right;
		line-height: 40px;
		padding: 0 1.75em;
		font-size: 0.875em;
		color: #757474;
		cursor: pointer;
	}

	.save, .cancel {
		float: right;
		line-height: 40px;
		padding: 0 1.75em;
		font-size: 0.875em;
		cursor: pointer;
	}
}
