@import '~nti-style-common';

.progress-overview-stats-enrollment-progress {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.avatar-container {
		width: rem-calc(100px);
		height: rem-calc(100px);
		margin-bottom: rem-calc(20px);
		position: relative;

		.avatar {
			width: 100%;
			height: 100%;
			border-radius: 50px;
		}

		.circular-progress {
			position: absolute;
			right: -5px;
			bottom: -5px;;
			left: auto;
			top: auto;
			width: 35px;
			height: 35px;
			border: 2px solid white;
			border-radius: 40px;
			box-sizing: content-box;
			background: white;
		}
	}

	.username {
		display: block;
		text-align: center;
		font: normal 600 1rem/1.4 $body-font-family;
		color: $primary-grey;
	}
}
