@import '~@nti/style-common';

.progress-overview-stats {
	display: flex;
	backgound: var(--panel-background);
	box-shadow: 0 1px 0 0 var(--border-grey);


	.progress-overview-stats-enrollment-progress {
		flex: 0 0 auto;
		width: 33%;
		box-shadow: inset -1px 0 0 0 var(--border-grey);
	}

	.progress-overview-stats-charts {
		flex: 1 1 auto;
	}
}
