@import '~@nti/style-common';

.webinar-base-item {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
	background-color: #fcfcfc;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
	padding: 14px 20px 17px 0;
	margin: 0.9375rem 0;
	position: relative;
	min-height: 70px;

	.contents {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-left: 90px;

		.header {
			flex: 1 1 auto;

			.title {
				font-size: 18px;
				color: black;
				margin-bottom: 6px;
			}

			.time-info {
				font-size: 10px;
				text-transform: uppercase;
				color: $tertiary-grey;
				margin-top: 4px;
			}
		}

		a.button,
		button {
			display: inline-block;
			flex: 0 0 auto;
		}

		button {
			border-radius: 4px;
			background-color: $primary-green;//#3fb34f;
			color: #fff;
			font-family: $body-font-family;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.375;
			padding: 7px 24px 9px;
			cursor: pointer;
			text-decoration: none;

			&:disabled {
				background-color: $tertiary-grey;//#B8B8B8;
				pointer-events: none;
			}
		}

		.image-and-description {
			flex: none;
			width: 100%;
			display: flex;
			margin-top: 16px;

			.image {
				height: 117px;
				min-width: 208px;
				border: 1px solid rgba(0, 0, 0, 0.1);
				margin-right: 15px;

				div {
					padding-top: 38px;
					font-weight: 600;
					color: $tertiary-grey;
					font-size: 24px;
					text-align: center;
					opacity: 0.5;
				}
			}

			.description {
				color: $secondary-grey;
				font-size: 14px;
				max-height: 114px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	.date {
		position: absolute;
		left: 34px;
		top: 17px;
		text-align: center;

		.month {
			text-transform: uppercase;
			color: $primary-red;
			font-weight: bold;
			font-size: 10px;
			line-height: 14px;
		}

		.day {
			font-size: 28px;
			color: $primary-grey;
		}
	}

	&.minimal {
		.date {
			top: 12px;
		}

		.contents {
			.header {
				.title {
					font-weight: 300;
					font-size: 16px;
				}
			}
		}
	}
}
