@import "~nti-style-common";

.outline-progress-header {
	display: flex;

	.progress-labels {
		margin-left: 9px;
		margin-top: 2px;

		.course-progress {
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
		}

		.sub-label {
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			color: $tertiary-grey;
		}
	}
}

.default-outline-header {
	font: normal 500 0.9em/3.5em "Open Sans", sans-serif;
	color: #a1a1a1;
	box-shadow: none;
	display: inline-block;
	padding: 0 0 0 3em;

	&::after {
		content: '';
		overflow: hidden;
		top: 15px;
		left: 18px;
		right: auto;
		background-image: url(../../assets/topic.png);
		width: 18px;
		height: 20px;
		position: absolute;
	}
}
