@import "~@nti/style-common";

.user-grade-card {
	width: 252px;
	height: 251px;
	background-color: var(--panel-background);
	text-align: center;

	.avatar-container {
		position: relative;

		.avatar {
			width: 100px;
			height: 100px;
			border-radius: 50px;
			margin-top: 40px;
		}

		.grade-container {
			color: var(--primary-blue);
			position: absolute;
			right: 78px;
			bottom: 6px;
			border: solid 2px var(--panel-background);
			border-radius: 20px;
			width: 34px;
			font-size: 14px;
			height: 34px;
			background-color: var(--panel-background);
			padding-top: 2px;
			padding-left: 2px;

			.grade {
				border: solid 2px var(--primary-blue);
				border-radius: 25px;
				width: 27px;
				height: 27px;
				padding-top: 2px;
			}
		}
	}

	.user-name {
		color: var(--primary-grey);
		font-size: 17px;
		text-overflow: ellipsis;
		overflow: hidden;
		margin: 19px 19px 5px;
	}

	.sub-info {
		font-size: 14px;
		color: var(--tertiary-grey);
		font-weight: 500;
	}

	.assign-grade {
		color: var(--primary-blue);
		font-size: 14px;
		cursor: pointer;
	}
}
