@import '~@nti/style-common';

.lesson-overview-questionset-assessment-label {
	font: normal 400 0.75rem/1.4 $body-font-family;
	color: $tertiary-grey;

	.require-control-value {
		text-transform: uppercase;
	}

	.submitted {
		.correct, .incorrect {
			i, span {
				display: inline-block;
				vertical-align: middle;
			}

			i {
				font-size: 1.125rem;
				margin-right: rem-calc(2px);
			}
		}

		.correct {
			color: $primary-green;
			margin-right: 1rem;
		}

		.incorrect {
			color: $primary-red;
		}
	}
}
