@import '~@nti/style-common';

.lesson-overview-assignment-status.nti-separated-inline-list {
	font: normal 600 0.625rem/1.3 var(--body-font-family);
	text-transform: uppercase;
	color: var(--tertiary-grey);

	li {
		display: inline-block;
	}

	.completed {
		&.ontime:not(.submission-failed) .status-label {
			color: var(--secondary-green);
			background: none;
			padding-left: 0;
		}

		.errors {
			color: var(--primary-red);
		}
	}

	.draft {
		margin-right: 3px;
	}

	.due {
		&.today {
			color: var(--primary-orange);
		}

		&.late {
			color: var(--primary-red);
		}

		i {
			margin-left: 3px;
		}

		&.editable .label:hover {
			text-decoration: underline;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.excused {
		color: var(--primary-red);
	}

	.failed {
		color: var(--primary-red);
	}
}
