.lesson-overview-assignment-title {
	display: flex;
	align-items: center;
	max-width: 100%;

	.title {
		flex: 0 1 auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 0.3rem;
	}

	.points {
		flex: 0 0 auto;
		font-weight: 600;
	}
}
