@import '~@nti/style-common';

.lesson-overview-assignment-icon {
	width: rem-calc(40px);
	height: rem-calc(40px);
	background-size: cover;
	background-image: url('../assets/assignment_due.png');
	background-repeat: no-repeat;
	background-position: center;

	&.large {
		background-size: auto;
		width: rem-calc(60px);
		height: rem-calc(60px);
	}

	&.ontime {
		background-image: url('../assets/assignment_ontime.png');
	}

	&.late {
		background-image: url('../assets/assignment_late.png');
	}

	&.failed {
		background-image: url('../assets/assignment_failed.svg');
	}
}
