.course-info-asset-picker {
	.sizes {
		display: flex;

		.course-info-asset-picker-size {
			flex: 0 0 auto;
		}

		.thumb {
			.preview {
				width: 60px;
			}
		}

		.promo {
			.preview {
				width: 100px;
			}
		}

		.cover {
			.preview {
				width: 100px;
			}
		}

		.background {
			.preview {
				width: 100px;
			}
		}
	}
}
