.up-next {
	position: relative;
	border-top: 1px solid var(--border-grey-light);
}

.up-next:hover {
	background-color: #fafafa;
}

.next-page {
	padding: var(--course-content-up-next-padding, 2rem 3rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.next-page .next-page-label {
	font: normal 600 0.75rem/1.3 var(--body-font-family);
	color: var(--primary-blue);
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.next-page .next-page-icon {
	width: 2rem;
	height: 1rem;
	background: url('./assets/large-chevron-down.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.next-lesson {
	display: block;
	padding: var(--course-content-up-next-padding, 2rem 3rem);
}

.next-lesson .sub-title,
.next-lesson .title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.next-lesson .title {
	align-items: baseline;
	max-width: 640px;
}

.next-lesson .sub-title {
	align-items: center;
	margin-bottom: 0.5rem;
}

.next-lesson .sub-title i {
	flex: 0 0 auto;
	background-color: var(--secondary-green);
	border-radius: 1rem;
	color: white;
	font-size: 0.75rem;
	font-weight: 600;
	padding: 0.25rem;
}

.next-lesson .sub-title span {
	flex: 0 0 auto;
	color: var(--secondary-green);
	margin-left: 0.5rem;
	font: normal 400 1rem/1.3 var(--body-font-family);
}

.next-lesson .title span {
	flex: 0 0 auto;
	display: inline-block;
	max-width: 100%;
	margin-right: 0.5rem;
	color: var(--primary-grey);
	font: normal 300 1.5rem/1.3 var(--body-font-family);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.next-lesson .title i {
	flex: 0 0 auto;
	color: var(--primary-grey);
}

.remaining-items-link {
	padding: var(--course-content-up-next-padding, 2rem 3rem);
	display: block;
}

.remaining-items {
	max-width: 640px;
}

.remaining-items .title {
	color: var(--primary-blue);
	font: normal 600 0.75rem/1.3 var(--body-font-family);
	text-transform: uppercase;
}

.remaining-items :global(.lesson-overview-padded-container) {
	padding-left: 0;
	padding-right: 0;
}

.remaining-items :global(li .webinar-base-item button) { /* hide the webinar register/join button. TODO: find a better place for this */
	display: none;
}

.remaining-items :global(li:last-of-type .webinar-base-item),
.remaining-items :global(li:last-of-type .lesson-overview-base-list-item-container .lesson-overview-base-list-item-table-row) {
	box-shadow: none;
}
