@import "~nti-style-common";

.credit-hours {
	.enrollment {
		.enroll-link {
			margin: 6px 0;

			a {
				color: $primary-blue;
				text-decoration: none;
			}
		}

		.no-credit {
			color: red;
		}
	}
}
