@import "~@nti/style-common";

.course-enrollment-admin-header-course-item {
	.empty {
		text-align: center;
		padding: 0.75rem 0;
		font: italic 300 1.25rem/1.25 $body-font-family;
		color: var(--tertiary-grey);
	}

	.course {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.icon {
			flex: 0 0 auto;
			height: 50px;
			width: auto;
			margin-right: 1rem;
		}

		.meta {
			flex: 0 0 auto;
			max-width: calc(100% - 130px);
		}

		.provider-id {
			font: normal 700 0.75rem/1.25 $body-font-family;
			color: var(--tertiary-grey);
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.title {
			display: block;
			color: var(--secondary-grey);
			flex: 0 0 auto;
			font: normal 400 1.25rem/1.25 $body-font-family;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.clear {
			width: 40px;
			height: 40px;
			font-size: 1.5rem;
			line-height: 40px;
			color: var(--primary-grey);
			text-align: center;
			padding-top: 2px;
			margin-left: 1rem;
			cursor: pointer;
		}
	}
}
