@import "~@nti/style-common";

.course-enrollment-admin-header-user-item {
	.empty {
		text-align: center;
		padding: 0.75rem 0;
		font: italic 300 1.25rem/1.25 $body-font-family;
		color: var(--tertiary-grey);
	}

	.user {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.avatar {
			display: inline-block;
			flex: 0 0 auto;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			margin-right: 1rem;
		}

		.username {
			display: inline-block;
			color: var(--secondary-grey);
			flex: 0 0 auto;
			font: normal 400 1.25rem/1.25 $body-font-family;
			max-width: calc(100% - 100px);
			white-space: nowrap;
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.clear {
			width: 40px;
			height: 40px;
			font-size: 1.5rem;
			line-height: 40px;
			color: var(--primary-grey);
			text-align: center;
			padding-top: 2px;
			margin-left: 1rem;
			cursor: pointer;
		}
	}
}
