.scorm-header {
	color: var(--primary-grey);
	font: normal 400 1.2em var(--body-font-family);
	-webkit-font-smoothing: antialiased;
	height: 50px;
	margin-left: 10px;
	line-height: 50px;
}

.scorm-editor {
	width: 600px;
	background: rgb(237, 237, 237);

	.scorm-editor-import {
		padding: 10px;
	}

	.scorm-editor-controls {
		display: flex;
		text-align: right;
		background: white;
		border-top: 1px solid #d9d9d9;

		.scorm-editor-save {
			width: 15%;
		}

		.scorm-editor-cancel {
			width: 85%;
			line-height: 45px;
			font-size: 0.875em;
			padding: 0 1.5em;
			cursor: pointer;
		}
	}
}
