@import '~@nti/style-common';

.lti-tools-config {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 1rem;

	&.lti-page {
		background: white;
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
		padding: var(--side-padding);
	}

	.lti-tools-config-headerBar {
		display: flex;
		align-items: center;

		.lti-tools-config-header {
			flex: 2;
			font-size: 18px;
			font-weight: 600;
		}
	}

	.lti-tools-config-error {
		color: var(--primary-red);
		padding: 1rem 1rem;
		display: block;
		border: 1px solid var(--border-grey-light);
		margin: 1rem 0;
	}
}
