@import '~nti-style-common';

.lesson-overview-video-list-item {
	.lesson-overview-video-list-item-icon {
		width: 100%;
		min-height: 45px;
		background-color: $tertiary-grey;
		position: relative;
		box-shadow: 0 0 1px 0 $border-grey;

		img {
			width: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1rem;
			margin-left: -1rem;
			width: 2rem;
			height: 2rem;

			background-size: contain;
			background-image: url('../assets/play.svg');
		}
	}
}
