.lti-addtool {
	width: 700px;
	background: white;

	.config-type-label .label {
		padding-left: 20px;
	}

	.nti-select-native-wrapper {
		margin: 0 20px;
		height: 2rem;
		line-height: 2rem;
	}

	.dialog-buttons {
		background: white;
	}
}
