@import '~@nti/style-common';

%fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.progress-overview-charts-course-standing {
	height: 100%;
	width: 100%;

	.loading-mask {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.error-container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--primary-red);
	}

	.chart-container {
		width: 100%;
		height: 100%;
		padding: 20px 10px;
	}

	.chart {
		width: 100%;
		height: 100%;
		position: relative;

		.grid-lines {
			@extend %fill;

			.line {
				position: absolute;
				left: 0.25rem;
				right: 0.25rem;
				height: 2px;
				border-top: 1px solid var(--border-grey-light);
			}

			.first {
				top: 0;
			}

			.second {
				top: 25%;
			}

			.third {
				top: 50%;
			}

			.fourth {
				top: 75%;
			}

			.fifth {
				top: 100%;
			}
		}

		.series {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;

			.data {
				position: absolute;
				bottom: 0;

				&.empty {
					height: 3px;

					.fill {
						background-color: var(--tertiary-grey);
					}
				}

				.fill {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0.25rem;
					right: 0.25rem;
					background: var(--primary-green);
				}

				.label {
					position: absolute;
					bottom: -14px;
					width: 100%;
					text-align: center;
					font: normal 600 0.625rem/1.4 $body-font-family;
				}
			}
		}

		.enrollment-progress {
			position: absolute;
			top: 0;
			width: 2px;
			height: 100%;
			background-color: var(--primary-orange);

			.label {
				position: absolute;
				left: 0; right: auto;
				bottom: 100%; top: auto;
				padding: 0.25rem;
				background: var(--primary-orange);
				color: white;
				font: normal 600 0.625rem/1.4 $body-font-family;
				text-transform: uppercase;
				white-space: nowrap;

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.username {
					max-width: 70px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}


			}

			&.left {
				.label {
					left: auto;
					right: 0;
				}
			}
		}
	}

}
