@import "~nti-style-common";

.course-tags {
	display: flex;

	.tag {
		border-radius: 3px;
		background-color: #656565;
		color: white;
		height: 32px;
		padding: 5px 15px;
		margin-right: 10px;
		font-weight: 100;
	}
}
