@import "~nti-style-common";

.course-panel.wizard, .course-panel.editor {
	width: 900px;
	min-height: 200px;
	background-color: #fafafa;
	color: rgb(117, 116, 116);

	figure.loading {
		z-index: 19000;
	}
}
