@import '~@nti/style-common';

.course-wizard-item {
	.error {
		color: red;
		text-align: center;
		margin: 10px;
	}
}

.course-panel-header {
	padding: 10px;
	height: 100px;
	text-align: center;

	.back {
		position: absolute;
		cursor: pointer;
		font-size: 26px;
	}

	.close {
		float: right;
		font-size: 26px;
		cursor: pointer;
	}

	.course-panel-header-title {
		font-size: 14px !important;
		color: #999;
	}

	.course-panel-header-stepname {
		font-size: 28px !important;
		font-weight: 500;
	}
}

.course-panel-label {
	font-size: 18px;
	color: #999;
}

.course-panel-content {
	height: 410px;
}

.course-panel-controls {
	height: 50px;
	font-size: 14px;
	text-align: center;
}

.course-panel-continue {
	min-width: 100px;
	float: right;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	padding: 0 1.5rem;
	background-color: rgb(63, 179, 246);
	border-radius: 5px;
	color: white;
	box-shadow: 0 2px 4px #4fc3ff;
	cursor: pointer;
}

.course-panel-cancel {
	min-width: 100px;
	float: right;
	line-height: 40px;
	height: 40px;
	margin-right: 10px;
	padding: 0 1.5rem;
	cursor: pointer;
}
