@import "~nti-style-common";

.scorm-import-panel {
	.scorm-import-error {
		text-align: center;
		color: red;
		word-wrap: break-word;
	}

	.course-panel-import-content {
		min-height: 120px;
		margin: 0px 20px 20px 20px;

		.course-import-error {
			text-align: center;
			color: red;
			margin: 10px;
			min-height: 22px;
		}
	}

	.import-file {
		margin: 1rem 2rem;

		span.file-picker.button {
			font-size: 16px;
			line-height: 36px;
		}
	}

	.progress {
		width: 80%;
		margin: 0 auto;

		.message {
			color: $secondary-grey;
			font-size: 1.25rem;
			margin-bottom: 1rem;
			text-align: center;
		}

		.bar {
			width: 100%;
			height: rem-calc(10px);
			background-color: rgba($primary-blue, 0.2);

			&.uploaded {
				background-color: rgba($primary-green, 0.2);

				.indicator {
					width: 100%;
					transition: none;
					background-color: $primary-green;
				}
			}

			.indicator {
				height: 100%;
				background-color: $primary-blue;
				transition: width 1s ease;
			}
		}
	}
}
