@import '~@nti/style-common';
@import '../../common/Variables.scss';

.nti-lesson-overview.grid-layout {
	.require-control-value {
		height: 28px;
		border-radius: 3px;
		padding: 0 6px;
		display: inline-block;

		span {
			height: 14px;
			line-height: 14px;
			font-size: 10px;
			color: $tertiary-grey;
			font-weight: bold;
		}

		i {
			color: $tertiary-grey;
		}
	}
}

.lesson-overview-group.grid-layout {
	.require-control-value {
		height: 28px;
		border-radius: 3px;
		padding: 0 6px;
		display: inline-block;

		span {
			height: 14px;
			line-height: 14px;
			font-size: 10px;
			color: $tertiary-grey;
			font-weight: bold;
		}

		i {
			color: $tertiary-grey;
		}
	}

	h2 {
		position: relative;
		font: normal 600 0.625rem/1.9 $body-font-family;
		text-transform: uppercase;
		color: white;
		display: inline-block;
		padding: 0 1rem 0 ($lesson-overview-desktop-padding + 1rem);

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: $lesson-overview-desktop-padding;
			background-color: rgba(255, 255, 255, 0.4);
		}

		@include responsive-range(tablet) {
			padding: 0 0.5rem 0 ($lesson-overview-tablet-padding + 0.5rem);

			&::before {
				width: $lesson-overview-tablet-padding;
			}
		}

		@include responsive-range(mobile) {
			padding: 0 0.5rem 0 ($lesson-overview-mobile-padding + 0.5rem);

			&::before {
				width: $lesson-overview-mobile-padding;
			}
		}
	}
}
