@import '~nti-style-common';

.lesson-overview-base-list-item {
	display: flex;
	padding-top: rem-calc(13px);
	padding-bottom: rem-calc(13px);
	align-items: center;

	.icon-container {
		flex: 0 0 auto;
		width: 80px;
		text-align: center;

		.icon {
			display: inline-block;
		}
	}

	.right {
		flex: 1 1 auto;
		padding: rem-calc(0 0 0 18px);
		overflow-x: hidden;

		& > .title {
			font: normal 400 1rem/1.3 $body-font-family;
			color: $primary-grey;
			white-space: no-wrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.labels {
		margin-top: 2px;
		min-height: rem-calc(14px);

		.nti-separated-inline-list {
			font: normal 700 0.625rem/1.4 $body-font-family;
			color: $tertiary-grey;
			text-transform: uppercase;
		}
	}
}
