@import '~@nti/style-common';

.course-item-progress {
	display: flex;

	&.no-progress {
		.value {
			color: var(--tertiary-grey);
		}
	}

	.value {
		color: var(--primary-green);
		font-size: 14px;
		font-weight: 100;
		margin-left: 10px;
		padding-top: 5px;
		width: 2.5rem;
	}

	.check {
		width: 28px !important;
		top: 4px !important;
	}
}
