@import '~@nti/style-common';
@import './Variables.scss';

.lesson-overview-padded-container {
	padding-left: $lesson-overview-desktop-padding;
	padding-right: $lesson-overview-desktop-padding;

	@include responsive-range(tablet) {
		padding-left: $lesson-overview-tablet-padding;
		padding-right: $lesson-overview-tablet-padding;
	}

	@include responsive-range(mobile) {
		padding-left: $lesson-overview-mobile-padding;
		padding-right: $lesson-overview-mobile-padding;
	}
}
