@import '~@nti/style-common';

.section-select-info {
	line-height: 40px;

	.color-preview {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		border-radius: 3px;
		margin-right: 0.5rem;
	}

	.name {
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		font: normal 400 0.875rem/40px "Open Sans", sans-serif;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.rank-select-flyout {
	list-style: none;
	padding: 0;
	margin: 0;

	.rank-option {
		padding: 8px;
		font: normal 400 0.875rem/40px "Open Sans", sans-serif;

		&.selected {
			color: $primary-blue;
		}
	}
}

.section-select-flyout {
	.section-option {
		padding: 8px;
		border-bottom: 1px solid #eae9e9;

		&:first-child {
			border-top: 0.75px solid rgba(0, 0, 0, 0.08);
		}

		&.selected {
			color: $primary-blue;
			pointer-events: none;
		}
	}

	.add-new {
		line-height: 20px;
		color: $primary-blue;
		padding: 8px;
		font-size: 0.875rem;
	}

	.create-section-form {
		.error {
			font-size: 0.875rem;
			line-height: 1.5rem;
			color: white;
			z-index: 1;
			background-color: $primary-red;
			text-align: left;
			padding: 0 0.5rem;
		}

		.contents {
			padding: 0.7rem;

			.label {
				font-size: 0.625em;
				text-transform: uppercase;
				color: #757474;
			}

			.nti-text-input {
				background-color: white;

				&.invalid {
					border: solid 1px $primary-red;
				}

				&.name-input {
					margin-bottom: 1.25rem;
				}

				&.hex-input {
					font-size: 11px;
					height: 21px;
				}
			}

			.color-samples {
				margin: 0;
				padding: 0;
				margin-top: 0.5rem;
				margin-bottom: 2rem;
				max-width: 240px;
				list-style: none;

				.color-sample {
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-right: 9px;
					cursor: pointer;
					padding: 8px 7px;
					border: 1px solid transparent;
					border-radius: 3px;
					margin-bottom: 4px;

					&.selected {
						position: relative;

						&::after {
							content: '';
							display: block;
							position: absolute;
							top: -4px;
							left: -4px;
							right: -4px;
							bottom: -4px;
							box-shadow: 0 0 0 1px #979797;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

.overview-position-select {
	.section-trigger {
		background: white;
		line-height: 40px;
		font-size: 0.875rem;
		padding: 0 1em 0 10px;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 260px;
		margin-right: 1rem;

		i {
			position: absolute;
			right: 8px;
			top: 14px;
		}
	}

	.rank-trigger {
		background: white;
		line-height: 40px;
		font-size: 0.875rem;
		padding: 0 1em 0 10px;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 55px;

		&.disabled {
			pointer-events: none;
			opacity: 0.7;
		}

		i {
			position: absolute;
			right: 8px;
			top: 14px;
		}
	}
}
