@import '~@nti/style-common';

.nti-course-enrollment-options-enrolled-current {
	.title {
		padding-bottom: 0;

		.icon-check {
			color: white;
			background-color: var(--primary-green);
			font-size: 0.75rem;
			padding: 2px;
			border-radius: 2rem;
			margin-right: 0.5rem;
		}

		span {
			font: normal 400 0.75rem/1.3 $body-font-family;
			color: var(--primary-green);
			text-transform: uppercase;
		}
	}


	.contents {
		min-height: 6rem;
	}


	.nti-course-enrollment-description {
		min-height: 0;
	}
}
