@import '~@nti/style-common';

.nti-course-enrollment-enrolled-upgrade {
	.actions {
		display: flex;
		flex-direction: row;

		.cancel, .upgrade {
			flex: 1 1 50%;
		}

		.cancel {
			box-shadow: inset 0 1px 0 0 var(--border-grey)-light;
			background: $panel-background;
			color: var(--secondary-grey);
		}

		.upgrade.disabled {
			background: var(--tertiary-grey);
		}
	}
}
