@import "~@nti/style-common";

.add-enrollment-option {
	.content {
		width: 600px;
		color: var(--primary-grey);

		.panel-title-bar {
			height: 50px;
			line-height: 50px;
			background-color: #fbfbfb;
			border-bottom: solid 1px #eee;
		}

		.enrollment-options {
			padding: 40px;
			background-color: white;

			.option {
				cursor: pointer;
				padding-bottom: 15px;
				padding-top: 15px;

				.title {
					font-size: 14px;
					line-height: 19px;
					margin-bottom: 5px;
					color: var(--primary-grey);
				}

				.description {
					font-size: 14px;
					line-height: 19px;
					color: $secondary-grey;
				}

				&:not(:first-of-type) {
					border-top: solid 1px #eee;
				}

				&.disabled {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}
}

body > .modal + .modal .modal-mask.add-enrollment-option {
	background: rgba(0, 0, 0, 0.7);
}
