@import "~@nti/style-common";

.course-visibility {
	position: relative;
	display: flex;
	background: rgba(0, 0, 0, 0.5);
	height: 61px;
	margin-bottom: 20px;

	.labeled-content {
		width: 170px;
		text-align: left;
		margin: 14px;

		.label {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 10px;
			color: var(--tertiary-grey);

			&.preview {
				color: #ffa500;
			}
		}

		.content {
			color: white;
			font-size: 12px;
			font-weight: 300;
			padding-top: 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.launch-button {
		background-color: var(--primary-orange);
		color: white;
		position: absolute;
		right: 12px;
		top: 12px;
		font-size: 14px;
		font-weight: 100;
		padding: 10px 30px;
		border-radius: 3px;
		cursor: pointer;
	}
}
