.enrollment-options {
	.enrollment-options-title {
		margin-left: 35px;
		margin-bottom: 20px;
	}

	.options-list {
		display: flex;
		flex-wrap: wrap;
		padding-left: 10px;
	}

	.enrollment-option-old {
		display: flex;
		margin: 10px 35px;
		padding-bottom: 10px;
		height: 54px;
		box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 0.5);

		.title {
			width: 240px;
			font-weight: 400;
			font-size: 14px;
			margin-top: 12px;
		}

		.values {
			display: flex;

			.option-field {
				margin-right: 25px;
				margin-top: 4px;

				.label {
					font-weight: 600;
					font-size: 12px;
				}

				.value {
					font-weight: 300;
					font-size: 12px;
				}
			}
		}
	}
}

.editable-item {
	&.custom {
		.item-summary {
			.item-icon {
				background-color: white;
				border: solid 3px #9c9;
			}
		}
	}

	&.ims {
		.item-summary {
			.item-icon {
				background-color: white;
				border: solid 3px #99c;
			}
		}
	}

	&.open {
		.item-summary {
			.item-icon {
				background-color: white;
				border: solid 3px #cc9;
			}
		}
	}

	&.store {
		.item-summary {
			.item-icon {
				background-color: white;
				border: solid 3px #c9c;
			}
		}
	}

	&.external {
		.item-summary {
			.item-icon {
				background-color: white;
				border: solid 3px #9cc;
			}
		}
	}
}
