@import "~@nti/style-common";

.add-facilitator.add-button {
	float: right;
}

.course-info-editor-section.edit {
	.title-with-edit {
		.field-label {
			display: none;
		}
	}

	.facilitators-header {
		.field-label {
			position: absolute;
		}
	}

	.facilitators {
		padding-top: 22px;
	}
}
