@import "~nti-style-common";

.course-item-list {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	width: 1030px;
	padding: 10px;

	.course-item {
		border: solid 1px #eaeaea;
		color: #444;
		width: 232px;
		height: 290px;
		box-shadow: 1px 1px 2px #eaeaea;
		margin: 10px;
		cursor: pointer;

		.course-delete {
			background-color: #e20d0d;
			width: 24px;
			text-align: center;
			line-height: 14px;
			font-size: 24px;
			border-radius: 3px;
			color: white;
			float: right;
		}

		.course-title {
			height: 75px;
			overflow: hidden;
			line-height: 25px;
			margin-top: 10px;
		}

		.course-id {
			font-size: 12px;
			color: #888;
		}

		.cover {
			width: 220px;
			height: 160px;
			margin: 5px;
			overflow: hidden;

			.course-image {
				height: 160px;

				&:hover {
					transform: scale(1.05, 1.05);
					transition: all 0.5s;
					opacity: 0.7;
				}
			}
		}

		.course-meta {
			padding: 10px;
		}
	}
}
