@import "~nti-style-common";

.admin-course-options {
	color: black;

	.flyout-inner {
		width: 320px;
	}
}

.course-item {
	border: solid 1px #eaeaea;
	color: #444;
	width: 232px;
	height: 290px;
	box-shadow: 1px 1px 2px #eaeaea;
	margin: 10px;
	cursor: pointer;
	position: relative;

	.toggler-container {
		width: 40px;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 0;

		.toggler {
			width: 12px;
			height: 12px;
			box-shadow: 1px 1px 1px 1px #ccc;
			cursor: pointer;
			border-radius: 2px;
			margin-left: 10px;
			margin-top: 20px;

			&.selected {
				background-color: $primary-blue;
				box-shadow: 1px 1px 2px 1px $primary-blue;
			}
		}
	}

	.admin-controls {
		opacity: 1;
		font-size: 20px;
		margin-top: 4px;
		position: absolute;
		top: 6px;
		right: 10px;
	}

	.course-controls:hover, .cover:hover + .course-controls {
		opacity: 1;
	}

	.course-controls {
		position: absolute;
		top: 10px;
		left: 10px;
		display: flex;
		opacity: 0;

		.preview {
			background-color: #ffa500;
			color: #fff;
			padding: 0 7px;
			border-radius: 3px;
			text-transform: uppercase;
			font: normal 600 10px/27px "Open Sans", sans-serif;
			display: inline-block;
		}

		.options {
			background-color: #333;
			color: white;
			border-radius: 3px;
			padding: 4px 6px 2px;
			opacity: 0.8;
			cursor: pointer;
			position: absolute;
			left: 182px;
		}
	}

	.course-delete {
		background-color: #ccc;
		width: 24px;
		text-align: center;
		line-height: 14px;
		font-size: 24px;
		border-radius: 3px;
		color: white;
		float: right;

		&:hover {
			background-color: #e20d0d;
		}
	}

	.course-title {
		overflow: hidden;
		line-height: 25px;
		margin-top: 10px;
		color: #757474;
		font-weight: 700;
		font-size: 1em/1.1em;
		font-family: "Open Sans Condensed";
		text-transform: uppercase;
	}

	.course-instructors {
		text-transform: uppercase;
		font: normal bold 0.6em/1.6em "Open Sans", sans-serif;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #3fb3f6;
	}

	.course-id {
		font-size: 12px;
		color: #888;
	}

	.cover {
		width: 220px;
		height: 160px;
		margin: 5px;
		overflow: hidden;

		.course-image {
			height: 160px;

			&:hover {
				transform: scale(1.05, 1.05);
				transition: all 0.5s;
				opacity: 0.7;
			}
		}
	}

	.course-meta {
		padding: 10px;
	}
}
