.lesson-overview-video-roll-playlist-container {
	display: flex;
	flex-direction: row;
	position: relative;

	.stage {
		width: max-content;
		flex: 1 1 auto;
		background: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 250px;
	}

	.playlist {
		position: absolute;
		background: #04232c;
		width: 250px;
		top: 0;
		right: 0;
		bottom: 0;
		flex: 0 0 auto;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			margin: 0;
		}
	}
}
