@import '~@nti/style-common';

.event-editor {
	background-color: white;

	.event-browser {
		.toolbar {
			height: 60px;
			position: relative;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

			.create-new {
				position: absolute;
				right: 10px;
				top: 10px;
				height: 40px;
				width: 40px;
				border-radius: 40px;
				color: white;
				background-color: $primary-blue;
				cursor: pointer;
				text-align: center;
				padding-top: 10px;
				box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.3);
			}
		}

		.event-list {
			.event {
				display: flex;
				margin: 10px;
				padding: 5px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
				cursor: pointer;
				height: 78px;

				.icon {
					width: 120px;
					margin-right: 10px;

					img {
						width: 100%;
					}
				}

				.info {
					.date {
						color: $tertiary-grey;
						font-size: 10px;
						text-transform: uppercase;
					}
				}
			}
		}

		.empty-state {
			.add-new {
				color: $primary-blue;
				cursor: pointer;
				margin-top: 10px;
			}
		}
	}
}
