@import '~@nti/style-common';

.event-editor {
	background-color: white;

	.event-browser {
		.toolbar {
			height: 60px;
			position: relative;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
			padding-top: 12px;

			.create-new {
				position: absolute;
				right: 17px;
				top: 10px;
				height: 40px;
				width: 40px;
				border-radius: 40px;
				color: white;
				background-color: $primary-blue;
				cursor: pointer;
				text-align: center;
				padding-top: 10px;
				box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.3);
			}

			.search {
				width: 100%;
				text-align: center;
				position: relative;

				input {
					width: 300px;
				}

				i {
					color: var(--tertiary-grey);
					margin-left: 6px;
					font-size: 20px;
					position: absolute;
					right: 262px;
					top: 7px;
				}
			}
		}

		.event-list {
			padding-bottom: 20px;

			.event {
				display: flex;
				margin: 10px 15px 0 15px;
				padding: 5px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
				cursor: pointer;
				height: 78px;
				position: relative;

				.title {
					hyphens: auto;

					@include limit-lines($lines: 2, $line-height: 1.4);
				}

				.icon {
					width: 120px;
					min-width: 120px;
					margin-right: 10px;

					img {
						width: 100%;
					}

					.no-icon {
						color: #ddd;
						height: 100%;
						font-weight: 600;
						font-size: 22px;
						text-align: center;
						padding: 16px 10px 0 10px;
						background-color: #fafafafa;
						border: solid 1px #eee;
						border-radius: 3px;
					}
				}

				.info {
					max-width: 550px;

					.date {
						color: var(--tertiary-grey);
						font-size: 10px;
						text-transform: uppercase;
					}
				}

				.remove {
					position: absolute;
					top: 6px;
					right: 6px;
					color: white;
					text-align: center;
					background-color: var(--primary-red);
					box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
					width: 30px;
					height: 30px;
					border-radius: 30px;
					padding-top: 5px;
				}
			}
		}

		.loading {
			padding-top: 60px;
		}

		.empty-state {
			.add-new {
				color: $primary-blue;
				cursor: pointer;
				margin-top: 10px;
			}
		}
	}
}
