@import '~@nti/style-common';

.title-editor {
	.error {
		margin-top: 15px;
	}

	.title-input {
		margin: 0;
		width: 100%;
		font-size: 24px;
		font-weight: 600;
		height: 2em;
		background-color: white;
		color: #444;
	}
}
