@import '~@nti/style-common';

.lesson-overview-survey-icon {
	width: rem-calc(48px);
	height: rem-calc(48px);
	background-image: url('../assets/poll-survey.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
