@import '~nti-style-common';

.lesson-overview-survey-list-item {
	.lesson-overview-survey-list-item-icon {
		width: rem-calc(48px);
		height: rem-calc(48px);

		background-image: url('../assets/survey.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
