@import '~@nti/style-common';

//TODO: figure out how not to have this be specific to the catalog...
$CUSTOM_RANGES: (
	mobile: (
		null,
		736px,
	),
	portrait-tablet: (
		737px,
		1023px,
	),
);

@mixin card-layout {
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	height: 305px;
	width: 242px;
	padding: 5px;
	cursor: pointer;

	.nti-course-card-image {
		width: 100%;
		height: 170px;
	}

	.progress.progress {
		position: absolute;
		bottom: 0;
		left: 0;
		background: var(--secondary-green);
		height: 0.5rem;
		margin-bottom: 0;
		padding: 0;
		border: none;
	}

	.badges {
		list-style: none;
		padding: 5px;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		.icon-clock-archive {
			margin-right: 3px;
			margin-left: -3px;
		}

		.icon-clock-archive::before {
			color: white;
		}

		li {
			flex: 0 0 auto;
		}

		.warning {
			background-image: url(../../assets/warning.svg);
			height: 16px;
			width: 16px;
			margin-right: 5px;
		}
	}

	.meta {
		padding: 0 5px;

		.nti-course-card-authors {
			margin-top: 5px;
		}
	}

	.no-touch &:hover {
		.nti-course-card-image img {
			opacity: 0.7;
			transform: scale(1.05, 1.05);
		}
	}

	.no-touch &:hover + .nti-course-card-badge.settings {
		opacity: 1;

		.icon-settings {
			opacity: 0.5;
		}
	}
}

@mixin list-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

	.badges {
		display: none;
	}

	.nti-course-card-image {
		width: 100px;
		height: 61px;
		flex: 0 0 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	.meta {
		flex: 1 1 auto;
		padding: 0 10px;
		overflow: hidden;

		.nti-course-card-authors {
			margin-top: 0;
			display: block;
			white-space: nowrap;
		}
	}
}

.nti-course-card-container {
	&.card {
		@include card-layout;
	}

	&.list {
		@include list-layout;
	}

	&.collapse-to-list {
		@include card-layout;

		@include responsive-range(mobile, $CUSTOM_RANGES) {
			@include list-layout;

			//override card styles
			width: initial;
			height: initial;
			box-shadow: none;
			background: none;
		}
	}
}

.nti-dialog-mount-point .dialog.window .icon.done-icon {
	background-image: url(../../assets/circle-check.svg);
}
