@import '~@nti/style-common';

.nti-course-card-image {
	overflow: hidden;

	img {
		display: block;
		min-width: 100%;
		width: auto;
		height: 100%;
		transform: scale(1);
		opacity: 1;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
}
