@import "~@nti/style-common";

.add-button {
	color: $primary-blue;
	display: flex;
	cursor: pointer;

	.add-icon {
		margin-right: 10px;
		border-radius: 30px;
		width: 22px;
		height: 22px;
		line-height: 18px;
		border: solid 2px;
		padding-top: 1px;
		text-align: center;

		i {
			line-height: 16px;
		}
	}

	.add-label {
		font-size: 14px;
		padding-top: 3px;
	}
}
