@import "~nti-style-common";

.course-tag-editor {
	.token-editor {
		min-height: 0;

		div.token {
			background-color: #656565;
			color: white;
			border-radius: 3px;
			min-height: 32px;
			padding: 7px 10px;
			font-weight: 100;
			margin-right: 5px;
			border: none;
			text-transform: uppercase;
		}

		i[class^="icon-"].small {
			background-color: #ccc;
			color: #656565;
			border-radius: 15px;
			font-size: 12px !important;
			margin-left: 5px;
			padding: 1px;
		}

		input.token {
			width: auto;
		}

		.suggestions-container {
			.suggestion {
				padding: 10px 20px;
				font-size: 14px;
				font-weight: 300;

				&.selected {
					background-color: #eaeaea;
				}
			}
		}
	}
}
