@import '~nti-style-common';

.lesson-overview-discussion-list-item {
	.lesson-overview-discussion-list-item-icon {
		width: 60px;
		min-height: 44px;
		position: relative;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		padding-bottom: 56.25%;
		background-image: url('../assets/discussion-icon.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}
