.pie-chart svg {
	width: 100px;
	height: 100px;
}

.segment:nth-child(3n + 1) {
	fill: var(--secondary-green, #3fb34f);
}

.segment:nth-child(3n + 2) {
	fill: var(--primary-blue, #3fb3f6);
}

.segment:nth-child(3n + 3) {
	fill: var(--primary-orange, #fa8700);
}
