.course-roster {
	background: white;
	width: 1024px;
	min-height: 600px;
	margin: 0 auto;

	&.inline {
		width: auto;
	}
}

.content {
	padding: 0;
	font-size: 0.875rem;
	font-weight: 300;
	padding-bottom: 1px; /* prevent loading spinner's bottom-margin from collapsing */
}

.content :global(.loading-spinner) {
	margin: 5rem auto;
}

.empty-message {
	font-size: 1.625rem;
	color: var(--tertiery-grey, #d8d8d8);
	font-weight: 300;
	font-style: italic;
	text-align: center;
	padding: 4rem;
}

.table.table {
	color: var(--secondary-grey);
}

.tabel.table td {
	width: 25%;
	overflow: hidden;
}

.table.table tr > *:first-child {
	padding-left: 30px;
}

.table.table tr > *:last-child {
	padding-right: 30px;
}

.table.table tbody tr {
	background: transparent;
	transition: background 0.25s;
	cursor: pointer;
}

.table.table tbody tr:hover {
	background: var(--quad-grey);
}

.table.table thead {
	text-align: left;
	box-shadow: 0 1px 0 var(--quad-grey);
}

.table.table td {
	padding: 0;
}

.table.table th {
	padding-top: 9px;
	padding-bottom: 9px;
	min-width: 100px;
}

.table.table td:not(:last-child) {
	padding-right: 1em;
}
