.course-roster {
	background: white;
	width: 1024px;
	min-height: 600px;
	margin: 0 auto;
}

.content {
	padding: 0 30px;
	font-size: 0.875rem;
	font-weight: 300;
}

.table {
	width: 100%;
	table-layout: fixed;
}

.table thead {
	text-align: left;
	box-shadow: 0 1px 0 var(--quad-grey, #f1f1f1);
}
