.toolbar {
	background: var(--quad-grey);
	padding: 12px 30px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbar > * {
	flex: 0 1 auto;
}

.manage-enrollment-button {
	display: inline-block;
}

.enrollment-controls {
	color: var(--primary-blue, #3fb3f6);
	font-size: 0.875rem;
	margin-left: auto;
}

.enrollment-controls > * {
	margin-left: 1em;
	cursor: pointer;
}
