@import "~@nti/style-common";

.course-editor .course-panel .course-panel-getstarted-form {
	.course-panel-content {
		padding-top: 120px;
	}

	.basic-label {
		text-align: left;
		margin-left: 159px;
		font-size: 12px;
		margin-top: 20px;
	}

	.textarea-container {
		width: 450px;
		margin: 0 auto;
		margin-top: 10px;
	}

	.access-code-container {
		text-align: left;

		.textarea-container {
			box-shadow: none;
			border: none;
			margin: 10px;
			height: 40px;
			width: auto;
		}

		.access-code-content {
			margin: 6px 0 0 128px;
			display: flex;

			.copy-controls {
				margin-top: 7px;
			}

			.access-code {
				height: 40px;
				margin: 0;
				display: inline-block;
				width: auto;
				padding: 0 0 0 21px;
				border: none;
				outline: none;
				box-shadow: none;
			}

			.access-code-copy {
				padding-top: 10px;
				cursor: pointer;
				color: $primary-blue;
				font-size: 12px;
				position: absolute;
				z-index: 9999;

				&.hide {
					opacity: 0;
				}

				&.show {
					transition: 1s;
					transition-delay: 0.5s;
					opacity: 1;
				}
			}

			.access-code-copy-confirmation {
				padding-top: 10px;
				position: absolute;
				font-size: 12px;
				color: #6c8;

				&.hide {
					transition: 1s;
					opacity: 0;
				}

				&.show {
					transition: 1s;
					opacity: 1;
				}
			}
		}

		.token-loading {
			margin-left: 160px;
		}
	}
}
