.requirement-details-prompt {
	height: 500px;
	width: 100vw;
	max-width: 768px;

	.panel-title-bar {
		background: #fbfbfb;
		border-bottom: 1px solid #e2e2e2;
	}

	.contents-container {
		background: white;
		padding: 25px;
		height: 100%;
		overflow: auto;
		color: var(--primary-grey);

		.req-message {
			padding-bottom: 30px;
			color: var(--primary-grey);
			font-size: 14px;
		}
	}

	.dialog-buttons {
		background: white;
	}
}
