@import '~@nti/style-common';

.course-admin-completion {
	min-height: 260px;
	color: var(--primary-grey);
	padding: 30px 0;
	max-width: 750px;

	&.completion-page {
		max-width: none;
		background: white;
		padding: 2rem 0 5rem;

		.default-required-container {
			.completion-control {
				margin-right: 0;
			}
		}
	}

	.error {
		color: var(--primary-red);
		height: 20px;
		text-align: center;
	}

	.group {
		padding: 0 35px;
		margin-bottom: 3rem;

		.title {
			font-size: 1.5rem;
		}
	}

	.completion-control {
		display: flex;
		box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 0.5);
		padding: 20px 0;
		position: relative;

		&.disabled {
			color: var(--tertiary-grey);

			.nti-text-input {
				color: var(--tertiary-grey);
			}

			.toggler {
				background-color: #eee;
				border: solid 1px #ddd;
			}

			.toggle-label {
				color: #ccc;
			}
		}

		.control {
			position: absolute;
			right: 0;

			&.preview-mode-label {
				top: 10px;
			}

			.nti-text-input {
				width: 60px;
				background-color: white;
			}
		}

		.label {
			line-height: 40px;
		}
	}

	.badge-control {
		box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 0.5);
		padding: 20px 0;

		.label {
			line-height: 40px;
		}

		&.disabled {
			color: var(--tertiary-grey);
		}
	}

	.default-required-container {
		margin-top: 30px;
		box-shadow: inset 0 -1px 0 0 rgba(226, 226, 226, 0.5);
		padding-bottom: 10px;

		&.disabled {
			color: var(--tertiary-grey);
		}

		.items {
			.completion-control {
				box-shadow: none;
				padding: 10px 0;

				.label {
					margin-left: 75px;
					font-size: 14px;
				}
			}
		}
	}

	.bottom-controls {
		padding-top: 10px;
		height: 40px;
		position: relative;

		.buttons {
			position: absolute;
			right: 32px;
			display: flex;
			height: 40px;
			font-size: 14px;

			.save {
				color: white;
				background-color: var(--primary-blue);
				cursor: pointer;
				padding: 11px 25px;
			}
		}
	}
}
