@import '~@nti/style-common';

.nti-course-navigation-tabs-editor-tab {
	display: flex;
	padding: 2rem 0;
	box-shadow: 0 1px 0 0 var(--border-grey)-light;

	.input-container {
		flex: 0 0 33%;
		margin-right: 2rem;

		input {
			width: 100%;
		}

		.error-container {
			padding: 0.3rem 0 0 0.625rem;
			font: normal 600 0.625rem/1.3 $body-font-family;
			color: var(--primary-red);
		}
	}

	.description {
		flex: 1 1 auto;
		min-height: 52px;
	}
}
