@import '~@nti/style-common';

.nti-course-navigation-tabs-editor-tab {
	display: flex;
	padding: 2rem 0;
	box-shadow: 0 1px 0 0 $border-grey-light;

	.input-container {
		flex: 0 0 33%;
		margin-right: 2rem;

		input {
			width: 100%;
		}
	}

	.description {
		flex: 1 1 auto;
	}
}
