@import '~@nti/style-common';

.progress-overview-header {
	display: flex;
	align-items: center;
	box-shadow: 0 1px 0 0 var(--border-grey);
	padding: rem-calc(8px 8px 8px 30px);

	.username {
		font: normal 600 0.75rem/1.4 $body-font-family;
		color: var(--secondary-grey);
		text-transform: uppercase;
	}

	.current-page {
		font: normal 600 0.75rem/1.4 $body-font-family;
		text-transform: uppercase;
		color: var(--primary-grey);
	}

	.spacer {
		flex: 1 1 auto;
	}


	.page-control {
		width: rem-calc(28px);
		height: rem-calc(28px);
		line-height: rem-calc(28px);
		text-align: center;
		font-size: 1.125rem;
		cursor: pointer;
		color: var(--primary-blue);

		&.page-up {
			margin-left: 1rem;
		}

		&.page-down {
			margin-right: 1rem;
		}

		&.disabled {
			color: var(--tertiary-grey);
			pointer-events: none;
		}
	}

	.close {
		cursor: pointer;
		width: rem-calc(34px);
		height: rem-calc(34px);
		line-height: rem-calc(36px);//to make it look more centered
		text-align: center;
		font-size: 1.75rem;
		color: var(--secondary-grey);
	}
}

