@import '~@nti/style-common';

.course-progress-overview-prompt {
	& > .icon-close { display: none; }
}

.progress-overview-container {
	width: 100vw;
	height: 100vh;
	overflow: auto;

	.progress-overview {
		background: white;
		width: rem-calc(764px);
		max-width: 100vh;
		margin: rem-calc(50px auto);

		& > .loading-mask {
			min-height: 500px;
			position: relative;
		}

		& > .error {
			color: $primary-red;
			line-height: 500px;
			font-size: 1.5rem;
			text-align: center;
		}
	}
}
