@import '~@nti/style-common';

.course-progress-progress-loading {
	margin-top: rem-calc(25px);

	.placeholder {
		height: 70px;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			bottom: 13px;
			left: 20px;
			width: 60px;
			background: var(--tertiary-grey);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			bottom: 17px;
			left: 90px;
			right: 20px;
			box-shadow: inset 0 18px 0 0 var(--tertiary-grey), inset 0 -10px 0 0 var(--tertiary-grey);
		}
	}
}
