@import '~@nti/style-common';

.progress-overview-contents-page {
	.header {
		margin: rem-calc(25px 0);

		.sub-title {
			font: normal 600 0.625rem/1.4 $body-font-family;
			color: var(--tertiary-grey);
			text-transform: uppercase;
		}

		.title {
			font: normal 300 1.5rem/1.4 $body-font-family;
			color: var(--primary-grey);
		}
	}

	&.empty {
		.header {
			opacity: 0.5;
		}
	}

	.lesson-overview-base-list-item-table-info-cell {
		.lesson-overview-base-list-item-link {
			max-width: 500px;
		}
	}
}
