@import '~@nti/style-common';

.progress-overview-contents {
	.progress-overview-contents-controls {
		margin: rem-calc(30px 0 0);

		.required-filter {
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			color: $secondary-grey;
			cursor: pointer;
		}
	}
}
