@import "~@nti/style-common";

.nti-course-enrollment-option-button {
	background-color: $primary-blue;
	color: white;
	font: normal 300 1.125rem/1.3rem $body-font-family;
	padding: 0.875rem 1.25rem;
	text-align: center;
}
