@import "~@nti/style-common";

.nti-course-enrollment-description {
	font: normal 400 0.875rem/1.4 var(--body-font-family);
	min-height: rem-calc(100px);

	a[href] {
		color: var(--primary-blue);
		text-decoration: none;
	}
}
