@import '~@nti/style-common';

.course-import-panel {
	.course-panel-import-content {
		min-height: 120px;

		.course-import-error {
			text-align: center;
			color: red;
			margin: 10px;
			min-height: 22px;
		}
	}

	.import-file {
		span.file-picker.button {
			font-size: 16px;
			line-height: 36px;
		}
	}

	.progress {
		width: 80%;
		margin: 0 auto;

		.message {
			color: var(--secondary-grey);
			font-size: 1.25rem;
			margin-bottom: 1rem;
			text-align: center;
		}

		.bar {
			width: 100%;
			height: rem-calc(10px);
			background-color: rgba(var(--primary-blue-rgb), 0.2);

			&.uploaded {
				background-color: rgba(var(--primary-green-rgb), 0.2);

				.indicator {
					width: 100%;
					transition: none;
					background-color: var(--primary-green);
				}
			}

			.indicator {
				height: 100%;
				background-color: var(--primary-blue);
				transition: width 1s ease;
			}
		}
	}
}
