.scorm-grid-card {
	background: var(--panel-background);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 0.9375rem 0;
}

.scorm-grid-card.completed .asset-icon:global(.file-type.icon)::after {
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	background-position: center center;
	background-repeat: no-repeat;

	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 40px;

}

.scorm-grid-card.completed.success .asset-icon:global(.file-type.icon)::after {
	background-image: url('./assets/circle-check-white-large.png');
}

.scorm-grid-card.completed.failed .asset-icon:global(.file-type.icon)::after {
	background-image: url('./assets/circle-warning-white-large.svg');
}

.scorm-grid-card.completed .asset-icon:global(.file-type.icon)::before {
	content: '';
	display: block;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: rgba(0, 0, 0, 0.5);
}

.asset-icon:global(.file-type.icon) {
	flex: 0 0 auto;
	width: 100px;
	height: 125px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.meta {
	flex: 1 1 auto;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 98px;
	grid-template-rows: auto auto 40px;
}

.title {
	grid-column: 1/1;
	grid-row: 1/1;
	font: normal 400 1.125rem/1.3 var(--body-font-family);
	color: var(--primary-grey);
}

.list {
	grid-column: 1/1;
	grid-row: 2/2;
	min-height: 0.875rem;
	color: var(--tertiary-grey);
	text-transform: uppercase;
	font-family: var(--body-font-family);
	font-weight: 600;
	font-size: 0.625rem;
	line-height: 1.4;
}

.list:not(:empty) {
	margin-bottom: 0.2rem;
}

.open-button:global(.nti-button.primary) {
	grid-column: 2/2;
	grid-row: 1/-2;
	align-self: start;
	flex: 0 0 auto;
	background-color: var(--secondary-green);
	border-radius: 4px;
	padding: 0 1.25rem;
	font-size: 1rem;
	line-height: 2.5;
	font-weight: 400;
	min-width: 95px;
	text-align: center;
}

.description {
	grid-column: 1/-1;
	grid-row: 3/3;
	font: normal 400 0.875rem/1.3 var(--body-font-family);
	color: var(--secondary-grey);
}