.package-list-container {
	position: relative;
	padding-bottom: 35px;
}

.package-list {
	list-style: none;
	padding: 0;
	margin: 2rem 0 0;
}

.package-list > li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid var(--border-grey-light);
	min-height: 10px;
}

.package-list li:last-of-type {
	border-bottom-width: 0;
}

.upload-bar-container {
	position: absolute;
	top: auto;
	bottom: 1rem;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
}

.background {
	width: 100%;
	max-width: 600px;
	background: white;
}

.upload-error {
	border-radius: 2px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 1px rgba(0, 0, 0, 0.1);
}
