@import "~@nti/style-common";

.course-panel-settings {
	.course-option {
		display: flex;
		margin-bottom: 30px;

		.course-option-label {
			line-height: 40px;
			min-width: 300px;
			margin-left: 50px;
		}

		.nti-input-toggle {
			float: right;
		}
	}
}

.preview-mode-widget {
	color: var(--primary-grey);
	cursor: pointer;

	.preview-option {
		width: 218px;
	}

	&:not(.flyout-trigger) {
		.preview-option {
			padding: 10px;
		}
	}
}

.preview-date-info {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--tertiary-grey);

	&.warning {
		color: #f72;
	}
}

.preview-mode-label {
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
	display: flex;
	margin-left: 8px;
	box-shadow: 1px 1px 2px 0 #ccc;

	.content {
		width: 180px;
	}

	i {
		margin-top: 4px;
	}
}
