@import "~nti-style-common";

.course-panel-settings {
	.course-option {
		display: flex;
		margin-bottom: 30px;

		.course-option-label {
			line-height: 40px;
			min-width: 300px;
			margin-left: 50px;
		}

		.nti-input-toggle {
			float: right;
		}
	}
}
