@import '~nti-style-common';

.course-admin-course-overview {
	@include clearfix;

	margin: 0 auto;

	.admin-active-days {
		width: 100%;
		margin-top: 5px;
	}

	.active-times-widget {
		margin-left: 0;
	}

	.admin-row {
		display: flex;

		.admin-card {
			width: 250px;
			height: 320px;

			.value {
				padding-top: 1rem;
			}
		}

		.active-users {
			margin: 0 0 0 4px;
			height: 320px;

			.header {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	.course-progress {
		width: 758px;
		margin-top: 5px;
		box-shadow: 0 1px 2px 1px #ccc;
		color: #555;

		.progress-overview-charts-course-standing {
			height: 150px;
		}

		.title {
			font-size: 24px;
			margin-left: 14px;
			padding: 10px;
			font-weight: 500;
		}
	}
}
