.scorm-collection-sub-title {
	font-weight: 600;
	font-size: 0.625rem;
	line-height: 1.4;
	font-family: var(--body-font-family);
	color: var(--tertiary-grey);
	text-transform: uppercase;
}

.blue {
	color: var(--primary-blue);
}

.dark {
	color: var(--secondary-grey);
}

.white {
	color: white;
}

.green {
	color: var(--secondary-green);
}
