.scorm-collection-sub-title {
	font: normal 600 0.625rem/1.4 var(--body-font-family);
	color: var(--tertiary-grey);
	text-transform: uppercase;
}

.blue {
	color: var(--primary-blue);
}

.dark {
	color: var(--secondary-grey);
}

.white {
	color: white;
}

.green {
	color: var(--secondary-green);
}