@import "~nti-style-common";

.course-inline-editor {
	background-color: white;
	color: #494949;
	height: 100%;
	min-height: 100px;
	max-width: 768px;
	text-align: center;

	&.view-only {
		.course-tags .tag {
			background-color: $primary-blue;
		}

		.course-info-editor-section {
			padding: 0 35px;

			.contents {
				padding: 27px 0 31px;
			}
		}
	}
}
