@import "~@nti/style-common";

.course-inline-editor {
	color: var(--primary-grey);
	height: 100%;
	min-height: 100px;
	max-width: 768px;
	text-align: center;

	&.loading {
		min-height: 200px;
		background-color: white;
		position: relative;
	}

	&.view-only {
		.course-tags .tag {
			background-color: $primary-blue;
		}

		.course-info-editor-section {
			padding: 0 35px;

			.contents {
				padding: 27px 0 31px;
			}
		}
	}
}
