@import '~@nti/style-common';

$header-ranges: (
	short: (
		null,
		500px,
	),
	wide: (
		500px,
		null,
	),
);

.event-base-item {
	display: flex;
	align-items: flex-start;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
	background-color: #fcfcfc;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
	padding: 0.875rem 1.125rem;
	margin: 0.9375rem 0;
	position: relative;
	min-height: 70px;
	overflow: hidden;

	.require-control-value,
	.lesson-overview-item-required-label {
		flex: 0;
	}
	.require-control-value {
		text-transform: uppercase;
		line-height: 22px;
	}

	.contents {
		flex: 1 1 auto;
		align-items: center;
		padding: 0 0.625rem;

		@include responsive-range(wide, $header-ranges) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		@include responsive-range(short, $header-ranges) {
			.header {
				margin-bottom: 0.5rem;
			}
		}

		.header {
			flex: 1 1 auto;
			margin-right: 0.5rem;
			display: flex;
			flex-direction: column;

			.title {
				font-size: 18px;
				color: black;
				margin-bottom: 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
			}

			.event-status-info {
				margin-top: 4px;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: baseline;

				& > :first-child {
					margin-right: 0.5em;
				}

				.time-display {
					font-size: 10px;
					text-transform: uppercase;
					color: var(--tertiary-grey);
					line-height: 20px;
					font-weight: bold;
					flex: 1 1 auto;

					> time:not(:last-child)::after {
						content: ' - ';
					}
				}

				.circular-progress {
					margin-right: 5px;
					line-height: 18px;
				}

				.completion-label {
					color: var(--primary-green);
				}

				.incomplete-label {
					color: var(--primary-red);
				}

				.event-duration,
				.incomplete-label,
				.completion-label {
					position: relative;
					padding-right: 12px;
					margin-right: 2px;

					&::after {
						content: '·';
						margin-right: 2px;
						font-size: 20px;
						line-height: 0;
						position: absolute;
						right: 0;
						top: 10px;
						color: var(--tertiary-grey);
					}
				}
			}
		}

		a.button,
		button {
			display: inline-block;
			flex: 0 0 auto;
		}

		button {
			border-radius: 4px;
			background-color: var(--primary-green); //var(--secondary-green);
			color: #fff;
			font-family: var(--body-font-family);
			font-size: 16px;
			font-weight: 600;
			line-height: 1.375;
			padding: 7px 24px 9px;
			cursor: pointer;
			text-decoration: none;
			white-space: nowrap;
			min-width: 130px;
			max-height: 40px;
			// max-width: 130px;

			&.disabled {
				background-color: var(--tertiary-grey);
				pointer-events: none;

				&.clickable {
					pointer-events: all;
				}
			}

			&.cation {
				background-color: var(--border-red);
			}

			&.expiring {
				font-size: 14px;
				padding-top: 3px;
				padding-bottom: 3px;

				.remaining {
					font-size: 10px;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			&.starting {
				padding-left: 0;
				padding-right: 0;

				& > span {
					position: relative;

					.timer {
						position: absolute;
						left: 0;
						top: 0;
						height: 20px;
						width: 20px;
						display: inline-block;
						margin-right: 0.5rem;
						background-image: url('./assets/timer.svg');
					}

					.remaining {
						padding-left: 26px;
					}
				}
			}
		}

		.image-and-description {
			width: 100%;
			margin-top: 16px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@include responsive-range(wide, $header-ranges) {
				flex-direction: row;
			}

			@include responsive-range(short, $header-ranges) {
				.image {
					width: 100%;
					min-width: unset !important;
					margin-bottom: 1rem;
				}
			}

			.image {
				position: relative;
				height: 117px;
				min-width: 206px;
				border: 1px solid rgba(0, 0, 0, 0.1);
				margin-right: 15px;

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}

				.status {
					position: absolute;
					right: 5px;
					bottom: 5px;
					font-size: 10px;
					color: white;
					display: flex;

					.duration-container {
						padding: 5px 10px 5px 10px;
						border-radius: 3px;
						background-color: rgba(0, 0, 0, 0.6);

						&.is-active {
							border-radius: 0 3px 3px 0;
						}
					}

					.live {
						background-color: var(--primary-red);
						padding: 5px 10px 5px 17px;
						border-radius: 3px 0 0 3px;
						text-transform: uppercase;
						position: relative;

						&::before {
							content: '·';
							margin-right: 4px;
							font-size: 24px;
							line-height: 0;
							position: absolute;
							left: 8px;
							top: 12px;
						}
					}
				}
			}

			.event-info {
				.location {
					@include limit-lines($lines: 1, $line-height: 1.4);

					margin-bottom: 10px;
					font-size: 12px;
					font-weight: bold;
					color: var(--secondary-grey);
				}

				.description {
					@include limit-lines($lines: 5, $line-height: 1.4);

					color: var(--secondary-grey);
					font-size: 14px;
					line-height: 19px;
					font-family: var(--body-font-family);
					white-space: pre-wrap;
					margin: 0;
				}
			}
		}
	}

	.date {
		.month {
			text-transform: uppercase;
			color: var(--primary-red);
			font-weight: bold;
			font-size: 10px;
			line-height: 14px;
		}

		.day {
			font-size: 28px;
			color: var(--primary-grey);
		}

		.circular-progress {
			line-height: 18px;
			position: absolute;
			bottom: -6px;
			right: -14px;
			border: solid 2px white;
			border-radius: 40px;
		}
	}

	&.minimal {
		box-shadow: inset 0 -1px 0 0 #e2e2e2;
		border: none;
		padding: 0;
		background-color: white;

		.contents {
			.header {
				.title {
					font-size: 16px;
				}
			}
		}
	}
}
