.scorm-content {
	padding: 3.5rem 2rem;
}

.header {
	display: flex;
	flex-direction: row;
	margin-bottom: 1.75rem;
}

.scorm-content .asset-icon {
	width: 100px;
	height: 125px;
	flex: 0 0 auto;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.title {
	font: normal 300 1.875rem/1.2 var(--body-font-family);
	color: var(--primary-grey);
	padding: 0.5rem 1.25rem;
}

.description {
	font: normal 400 0.875rem/1.7 var(--body-font-family);
	color: var(--secondary-grey);
}