@import "~@nti/style-common";

.course-view-description {
	padding: 5px 0;
	font-weight: 300;
	line-height: 1.8em;
	font-size: 14px;
	word-wrap: break-word;

	& a {
		color: $primary-blue;
		text-decoration: none;
	}
}
